<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Index</title>
</head>
<body class="container mt-4">
    <div class="mb-4">
        <h2>New Dojo</h2>
        <form action="/dojos/create" method="post" class="mt-3">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" name="name" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Create Dojo</button>
        </form>
    </div>
    
    <div>
        <h2>All Dojos</h2>
        <ul class="list-group mt-3">
            {% for dojo in dojos %}
                <li class="list-group-item">
                    <form action="/dojos/{{ dojo.id }}" method="post">
                        <button type="submit" class="btn btn-link">{{ dojo.name }}</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <div class="mt-3">
            <a href="/ninjas" class="btn btn-secondary">Add Ninja</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
